@model ASP.NET_Core_MVC._CRUD_операции.Models.Film

@{
	ViewData["Title"] = "Details";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
	 <div> 
	
								<div class="div2">
								<h3 class="h3">@Model.Title</h3> 
						<div class="div3">
							  <img src="@Url.Content(Model.PosterPath)" width="250" />
						  <h2 class="shadow">
							Резиссер:
								<p class="p1"> @Model.Director </p> 
						  </h2>
						  <h2 class="shadow">
							Жанр:
								<p class="p2">@Model.Genre </p>
						  </h2>
						  <h2 class="shadow">
							Год выпуска:
								<p class="p3">@Model.Year </p>
						  </h2>
							  <p class="shadow p4">@Model.Description </p>
						</div>
					  </div>
	
</div>

 
<div class="div_com div_com4v">
		  <a asp-action="Index" class="a1">Вернутся к списку</a>
		</div>

</div>