@model IEnumerable<ASP.NET_Core_MVC._CRUD_операции.Models.Film>

@{
	ViewData["Title"] = "Index";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="div1">
	  <h4 id="h4">10 Самых популярных фильмов</h4>

	</div>
	<div class="div1 div1m">
		<a class="a1" asp-action="Create">Добавить</a><br />
		</div>
<div> 
	@foreach (var item in Model)
	{
													<div class="div2">
														<h3 class="h3">@Html.DisplayFor(modelItem =>item.Title)</h3> 
											<div class="div3">

															  <img src="@Url.Content(item.PosterPath)" width="250" />
											  <h2 class="shadow">
												Резиссер:
													<p class="p1">@Html.DisplayFor(modelItem => item.Director)</p> 
											  </h2>
											  <h2 class="shadow">
												Жанр:
													<p class="p2">@Html.DisplayFor(modelItem => item.Genre)</p>
											  </h2>
											  <h2 class="shadow">
												Год выпуска:
													<p class="p3">@Html.DisplayFor(modelItem => item.Year)</p>
											  </h2>
															  <a class="a" asp-action="Edit" asp-route-id="@item.Id">Изменить</a>
									  <a class="a" asp-action="Delete" asp-route-id="@item.Id">Удалить</a>
										  <a class="a" asp-action="Details" asp-route-id="@item.Id">Про фильм</a>
											</div>
										  </div>
	} 
</div>